<div>



<h1>Data binding</h1>
<!-- event binding -->
<button (click)="greet()">Greet</button>

<select name="" id="" (change)="state()">
<option value="">Andra Pradesh</option>
<option value="">Telangana</option>
<option value="">Kerala</option>
<option value="">Karnataka</option>
<option value="">tamialnadu</option>
</select>
<input type="text" (keyup)="enter()">

<!-- interpolation -->
 <h3>{{massage}}</h3> 

 <!-- proparty binding -->
  <input type="text" [disabled]="isdisebule">
  <input type="text" [value]="name" [disabled]="isdisebuleone">
  <input type="number" name="" id="" [value]="number">

  <!-- two way data binding -->
   <input type="text" [(ngModel)]="mobil">

   <button (click)="submit()">Submit</button>

   <h1>Calculator</h1>
   <label for="">Num1:</label>
   <input type="number" [(ngModel)]="num1">
   <label for="">Num2:</label>
   <input type="number" [(ngModel)]="num2">
   <button (click)="calculate()" [disabled]="(num1==0)||(num2==0)">Calculate</button>

   <h3>Result:{{sum}}</h3>

   </div>
