<div class="parent">
  
    <div class="calcut-box">

        <div class="input-bar">
            <label>Redlus :</label>
            <input type="number" class="input-check" [(ngModel)]="num">

        </div>
       

        <div class="button-bar">
            <button class="button-one" (click)="area()">Area</button>
            <button class="button-one" (click)="peri()">Perimeter</button>
            
        </div>

        <div class="result">
            <h4>Result in:{{b}}</h4>

        </div>
    </div>
    


</div>