.overflow {
    width: 100%;
    height: 120vh;
    overflow: auto;
    background-color: aquamarine;
   
}
.parent {
    
}
.color-bar {
    color: rgb(2, 6, 10);

}
.color-bar:hover{
color: red;
}
.black{
    color: black;
    font-weight: 900;
}
.grey {
    color: gray;
}