<div>


    <!-- From Uiverse.io by bociKond --> 
<form class="form" [formGroup]="loginform">
  <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" name="email" id="email" formControlName="email"
  /></span>
  <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" name="password" id="password" formControlName="password"
  /></span>
  <button  (click)="  login()" >Login</button>
  <span class="span">Don't have an account? <a href="#">Sign up</a></span>
</form>

</div>