<div class="parent">
  
    <div class="calcut-box">

        <div class="input-bar">
            <label>Height :</label>
            <input type="number" class="input-check">
    
            <label>Weight :</label>
            <input type="number" class="input-check">

        </div>
       

        <div class="button-bar">
            <button class="button-one">Calculate</button>
        </div>

        <div class="result">
            <h4>You are BMI is: 0</h4>

        </div>
    </div>
</div>