<div class="parent">
    <div class="box-one">
        <h2 class="my-web">My Website</h2>

          <div class="dashbord-content">
            <h4 routerLink="/dashbord">Home</h4>
            <h4 routerLink="/dashbord/wellcome">Wellcome</h4>
            <h4  routerLink="/dashbord/createstudent-cart">Create-Student-Cart</h4>

            <h4 routerLink="/dashbord/data-binding">DataBinding</h4>
            <h4 routerLink="/dashbord/calcultor">Calcultor</h4>
            <h4 routerLink="/dashbord/rectangle">Rectangle</h4>
            <h4 routerLink="/dashbord/circle">Circle</h4>
            <h4 routerLink="/dashbord/bmi">BMI</h4>
            <h4 routerLink="/dashbord/directives">directives</h4>
            <h4 routerLink="/dashbord/employe-data">Employe-Data</h4>
            <h4 routerLink="/dashbord/vehicles">Vehicles</h4>
            <h4  routerLink="/dashbord/flipcart">Flipcart</h4>
            <h4  routerLink="/dashbord/mail">Mailt</h4>
            <h4  routerLink="/dashbord/weather">Weather</h4>
            <h4  routerLink="/dashbord/imagetask">ImageTask</h4>
            <h4  routerLink="/dashbord/create-user">Create-User</h4>
            <h4  routerLink="/dashbord/accountsusapi">AccountsAPI</h4>
    
            <button class="button-dashbord" (click)="logout()">Logout</button>
        </div>
       
    </div>
    <div class="box-two">
        <router-outlet></router-outlet>

    </div>
</div>

<!-- <div class="parent-one">
    <div class="parent-class" >

    <div class="child-one">
        <div class="surch-bar">
            <input type="text" placeholder="Search" class="search">
            <button class="btn btn-info ">Only free Delivary</button>
            
        </div>
        <div class="buttons-bar ">
            <button class="btn btn-warning">Price low to High</button>
            <button class="btn btn-warning">Price high to low</button>
            <button class="btn btn-warning">rating low to high</button>
            <button class="btn btn-warning">rating high to low</button>
        </div>

        <div class="button-bar-two">
            <button class="btn btn-primary">Apply 50% discount</button>
            <button class="btn btn-primary">price with deli</button>
        </div>
        <div class="totle-bar ">
            <button class="btn btn-secondary">Total Price</button>
             <button class="btn btn-secondary">Total Cart items</button>


        </div>

    </div>

    
    <div class="child-two">
        <div class="search-detels">
         <label>Name:</label>
        <input type="text"><br>
        <label>Price:</label>
        <input type="text"><br>
        <label>Rating:</label>
        <input type="text">

        </div>


    </div>


</div>

<div class="parent-two">
    

</div>

</div>
 -->

 <!-- .parent-one {
    width: 100%;
    height: 120%;
    background-color: aquamarine;
    
}
.parent-class {
    display: flex;

}
.child-one {
    width: 100%;
    height: 40vh;
    background-color: rgb(3, 118, 3);
}

.surch-bar {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 1%;
    font-size: 20px;
    margin: 10px;
    
}
.search {
    width: 20%;
}

.buttons-bar {
    display: flex;
    gap: 1%;

}
.button-bar-two {
    display: flex;
    gap: 1%;
    padding: 10px;
}
.child-two  {
    width: 50%;
    height: 50vh;
    background-color: rgb(223, 216, 216);
}
.totle-bar {
    display: flex;
    gap: 4%;
    padding: 0px 10px;
}

.search-detels {

}

/* parent two */
.parent-two {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
 -->