<div class="parent-rectangle">

    <div class="calcut-box">

        <div class="input-bar">
            <label>Lenght :</label>
            <input type="number" class="input-check">
    
            <label>Breath :</label>
            <input type="number" class="input-check">

        </div>

        <div class="button-bar">
            <button class="button-one">Area</button>
            <button class="button-one">Perimeter</button>

        </div>

        <div class="result">
            <h3>Result in : 60</h3>

        </div>
    </div>
    

</div>