<div>
    <table  class="table table-dark">
        <thead>
            <tr>
                <th>CompanyName</th>
                <th>EmployeeName</th>
                <th>EmployeeEmail</th>
                <th>EmployeeDateofBirth</th>
                 <th>EmployeeGender</th>
                <th>EmployeeRole</th>
                <th>EmployeePackage</th>
                <th>EmployeeWorkMOde</th>
                <th>EmployeeType</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{Company.company}}</td>
                <td>{{Company.name}}</td>
                <td>{{Company.email}}</td>
                <td>{{Company.dob}}</td>
                <td>{{Company.gender}}td>
                <td>{{Company.role}}</td>
                <td>{{Company.package}}</td>
                <td>{{Company.workMode}}</td>
                <td>{{Company.type}}</td>

            </tr>
        </tbody>
    </table>
    
</div>