<div class="parent">
  
    <div class="calcut-box">

        <div class="input-bar">
            <label>Number 1:</label>
            <input type="number" class="input-check">
    
            <label>Number 2:</label>
            <input type="number" class="input-check">

        </div>
       

        <div class="button-bar">
            <button class="button-one">Sum</button>
            <button class="button-one">Sub</button>
            <button class="button-one">Mul</button>
            <button class="button-one">Div</button>
        </div>

        <div class="result">
            <h4>XXXXXXXXXXXXX</h4>

        </div>
    </div>
    


</div>